.media{
    gap:7px;
}
.me-body{
    min-width: 150px;
    height: fit-content;
    border: 1px solid rgb(85, 85, 194);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(86, 86, 212);
}
.sender-body{
    min-width: 100px;
    max-width: 200px;
    height: fit-content;
    border: 1px solid rgb(85, 185, 194);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: rgb(86, 186, 194);
}
.connected-circle {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px;
        height: 10px;
        background-color: green;
        border-radius: 50%;
}
.sender{
    width: fit-content;
    height: fit-content;
    position: relative;
}
