<div class="container mt-5">
    <h3>Invitations</h3>
    <a href="#" class="text-primary">See the invitations sent</a>
    <div class="card mt-4">
        <div class="card-header">
            Invitations reçues
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="sender-information d-flex">
                    <img src="https://i.pravatar.cc/50?img=1" alt="" width=50 height=50 style='border-radius:25px;'>
                    <div class="">
                        <span><strong>RÆs Lén</strong></span><br>
                        <small>5 mutual friends · 6 d</small>
                        <div class="btns d-flex">
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="sender-information d-flex">
                    <img src="https://i.pravatar.cc/50?img=2" alt="" width=50 height=50 style='border-radius:25px;'>
                    <div class="">
                        <span><strong>RÆs Lén</strong></span><br>
                        <small>5 mutual friends · 6 d</small>
                        <div class="btns d-flex">
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="sender-information d-flex">
                    <img src="https://i.pravatar.cc/50?img=3" alt="" width=50 height=50 style='border-radius:25px;'>
                    <div class="">
                        <span><strong>Gaith</strong></span><br>
                        <small>5 mutual friends · 2 year</small>
                        <div class="btns d-flex">
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="sender-information d-flex">
                    <img src="https://i.pravatar.cc/50?img=4" alt="" width=50 height=50 style='border-radius:25px;'>
                    <div class="">
                        <span><strong>Dali El Guebsi</strong></span><br>
                        <small>5 mutual friends · 1 d</small>
                        <div class="btns d-flex">
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="sender-information d-flex">
                    <img src="https://i.pravatar.cc/50?img=5" alt="" width=50 height=50 style='border-radius:25px;'>
                    <div class="">
                        <span><strong>Seif menjli</strong></span><br>
                        <small>5 mutual friends · 1 m</small>
                        <div class="btns d-flex">
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <div class="sender-information d-flex">
                    <img src="https://i.pravatar.cc/50?img=6" alt="" width=50 height=50 style='border-radius:25px;'>
                    <div class="">
                        <span><strong>Bouaziz Yassine</strong></span><br>
                        <small>8 mutual friends · 2 d</small>
                        <div class="btns d-flex">
                            <button class="btn btn-primary">Confirm</button>
                            <button class="btn btn-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>






