<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="d-flex align-items-center justify-content-between p-3">
          <h4 class="text-muted">Contacts</h4>
        </div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Rechercher un contact" aria-label="Rechercher un contact" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search"></i></button>
        </div>
        <div class="list-group items">
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p3.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Mohamed Ali</span>
              <span class="text-muted">محمد علي</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p2.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Sarah Ben Amor</span>
              <span class="text-muted">سارة بن عمر</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p4.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Sarah Ben Amor</span>
              <span class="text-muted">سارة بن عمر</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p1.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Sarah Ben Amor</span>
              <span class="text-muted">سارة بن عمر</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p6.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div>
              <span class="fw-bold">Sarah Ben Amor</span>
              <span class="text-muted">سارة بن عمر</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p7.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Sarah Ben Amor</span>
              <span class="text-muted">سارة بن عمر</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p5.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Karim Bouzid</span>
              <span class="text-muted">كريم بوزيد</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p3.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Karim Bouzid</span>
              <span class="text-muted">كريم بوزيد</span>
            </div>
          </a>
          <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <div class="position-relative">
                <img src="../../assets/images/p4.jpg" alt="Profile 1" class="rounded-circle me-3" width="50" height="50">
                <div class="connected-circle"></div>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Nadia Khaled</span>
              <span class="text-muted">نادية خالد</span>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Nadia Khaled</span>
              <span class="text-muted">نادية خالد</span>
            </div>
            <div class="d-flex flex-column">
              <span class="fw-bold">Nadia Khaled</span>
              <span class="text-muted">نادية خالد</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
