<div class="container">
    <div class="row">
     <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Discussion avec vos amis</h5>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between">
                <div class="d-flex descussion-Item">
                    <div class="position-relative">
                        <img src="../../assets/images/p1.jpg"  class="rounded-circle pt-2" width="40" height="40">
                        <div class="connected-circle"></div>
                    </div>
                    <div class="ml-5">
                        <small class="ml-2">Nom de l'ami 1</small>
                        <p class="ml-4 opacity-50">Message de l'ami 1</p>
                    </div>
                </div>
                <small class="text-muted ml-4 ">Il y a 10 minutes</small>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <div class="d-flex descussion-Item">
                    <div class="position-relative">
                        <img src="../../assets/images/p6.jpg"  class="rounded-circle pt-2" width="40" height="40">
                        <div class="connected-circle"></div>
                    </div>
                    <div class="ml-5">
                        <small class="ml-2">Nom de l'ami 2</small>
                        <p class="ml-4 opacity-50">Message de l'ami 1</p>
                    </div>
                </div>
                <small class="text-muted ml-4 mb-2">Il y a 15 minutes</small>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <div class="d-flex descussion-Item">
                    <div class="position-relative">
                        <img src="../../assets/images/p7.jpg"  class="rounded-circle pt-2" width="40" height="40">
                        <div class="connected-circle"></div>
                    </div>
                    <div class="ml-5">
                        <small class="ml-2">Nom de l'ami 3</small>
                        <p class="ml-4 opacity-50">Message de l'ami 1</p>
                    </div>
                </div>
                <small class="text-muted ml-4">Il y a 20 minutes</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
