.items{
    background: transparent;
}
.connected-circle {
    position: absolute;
    bottom: 2px;
    right: 18px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}
.position-relative{
    height: fit-content;
    width: fit-content;
}