app-list-friends{
    position: fixed;
    max-height: 800px;
    overflow-y:auto;
    margin-top: 100px;
    
}
.card2{
    position: fixed;
    top:0;
    width: 100%;
    z-index: 999;

}
.posts{
    margin-top: 100px;
}
li{
    border: none;
    background: transparent;
    cursor: pointer;
}
li:hover{
    background-color: rgb(246, 246, 246);
}
.card1{
    position: fixed;
    top:100px;
    background: transparent ;
    border: none;

}
.container-fluid{
    margin-top: 160px;
}
.chat{
    width: 450px;
    position: fixed;
    bottom: 0px;
    right: 350px;
}