<div class="container d-flex w-100">
    <div class="container d-flex flex-column">
        <div class="row vh-100">
            <form>
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control form-control-lg" type="text" name="name"
                        placeholder="Enter your name..." />
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control form-control-lg" type="email" name="email"
                        placeholder="Enter your email..." />
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input class="form-control form-control-lg" type="password" name="password"
                        placeholder="Enter password..." />
                </div>
                <div class="mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input class="form-control form-control-lg" type="confirm password" name="confirmPassword"
                        placeholder="Confirm password..." />
                </div>
                <div class="text-center mb-3">
                    <button type="submit" class="btn btn-lg btn-primary">Sign up</button>
                </div>
                <div class="text-center">
                    <a href="">Sign in</a>
                </div>
            </form>
        </div>
    </div>
</div>