<div class="container">
    <div class="card">
      <div class="card-header">
        Settings
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <i class="fa fa-user fa-lg fa-fw mr-2 text-primary"></i> Account
          </li>
          <li class="list-group-item">
            <i class="fa fa-lock fa-lg fa-fw mr-2 text-primary"></i> Confidentiality
          </li>
          <li class="list-group-item">
            <i class="fa fa-shield-alt fa-lg fa-fw mr-2 text-primary"></i> Security
          </li>
          <li class="list-group-item">
            <i class="fa fa-globe fa-lg fa-fw mr-2 text-primary"></i> Language
          </li>
          <li class="list-group-item">
            <i class="fa fa-exclamation-triangle fa-lg fa-fw mr-2 text-primary"></i> Report a problem
          </li>
          <li class="list-group-item">
            <i class="fa fa-book-open fa-lg fa-fw mr-2 text-primary"></i> Terms & policies
          </li>
          <li class="list-group-item">
            <i class="fa fa-sign-out-alt fa-lg fa-fw mr-2 text-primary"></i> Log Out
          </li>
        </ul>
      </div>
    </div>
  </div>
  